body {
  width: 100%;
  height: 100vh;
  margin: 0;
  font-family: "Mulish", sans-serif !important;
  background: var(--bg-gradient);
  background-position: center;
  background-repeat: no-repeat;
  color: var(--text-muted);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
.header-nav .nav-link,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
