:root {
  --bg-gradient: linear-gradient(#081221, #03080f);
  --panel-bg: #0e1a2b;
  --text-main: #ffffff;
  --text-muted: #c1d1e8;
  --input-bg: #182c47;
  --accent-blue: #5692e8;
}

/* Montserrat – Headings / Nav */
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

/* Mulish – Body text */
@font-face {
  font-family: "Mulish";
  src: url("../assets/fonts/Mulish/Mulish-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Mulish";
  src: url("../assets/fonts/Mulish/Mulish-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
