/* ===== FILTER CARD ===== */
.filter-card {
  width: 100%;
  height: fit-content;
  background: linear-gradient(180deg, #0b1a2e 0%, #081221 100%);
  padding: 18px;
  border-radius: 4px;
  color: #ffffff;
}

/* Title */
.filter-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 18px;
}

/* Groups */
.filter-group {
  margin-bottom: 16px;
}

.filter-group label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 6px;
}

/* Inputs */
.filter-group input {
  width: 100%;
  height: 38px;
  background: #182c47;
  border: none;
  outline: none;
  padding: 0 10px;
  color: #c1d1e8;
  font-size: 14px;
  border-radius: 2px;
}

/* ===== ORDER BY ===== */
.order-by {
  display: flex;
  align-items: center;
}

.sort-icon {
  width: 38px;
  height: 38px;
  background: #5692e8;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 16px;
  border-radius: 2px 0 0 2px;
}

/* Dropdown */
.order-by select {
  flex: 1;
  height: 38px;
  background: #182c47;
  border: none;
  outline: none;
  color: #c1d1e8;
  font-size: 14px;
  padding: 0 10px;
  border-radius: 0 2px 2px 0;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
}

/* ===== ACTIONS ===== */
.filter-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 14px;
}

.clear-btn {
  background: #5692e8;
  color: #ffffff;
  border: none;
  padding: 6px 14px;
  font-size: 14px;
  border-radius: 2px;
  cursor: pointer;
}

/* Placeholder text color */
.filter-group input::placeholder {
  color: #ffffff;
  opacity: 1; /* important for Firefox */
}

/* Dropdown selected placeholder text (optional safety) */
.order-by select {
  color: #ffffff;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .filter-wrap {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 45px;
  }
  .filter-card {
    max-width: 100%;
  }
  .clear-btn {
    padding: 0px 14px;
    height: 38px;
    margin-top: 6px;
  }

  .filter-actions {
    margin-top: 0px;
  }
}

@media (max-width: 767px) {
  .filter-card {
    max-width: 100%;
    padding: 12px;
  }

  .filter-title {
    font-size: 16px;
    margin-bottom: 12px;
  }

  .filter-group label {
    font-size: 12px;
    margin-bottom: 5px;
  }

  .filter-group input {
    height: 33px;
    padding: 0 8px;
    font-size: 12px;
  }

  .order-by select {
    height: 33px;
    font-size: 12px;
    padding: 0 8px;
  }

  .sort-icon {
    width: 33px;
    height: 33px;
    font-size: 14px;
  }
}
